*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
/app/release/
/app/debug/
*.hprof
*.log
.kiro/
ActivityLauncher-master/
